<app-nav1></app-nav1>
<style>
    .about-us {
        text-align: center;
      font-family: 'Britannic Bold', sans-serif;
      padding: 20px;
      background-color: #dc13ad0a;
      color: #333;
    }
  
    .about-us h2 {
      font-size: 2rem;
      color: #af4c98a5;
    }
  
    .about-us p {
      font-size: 1.1rem;
      margin-bottom: 1rem;
    }
  </style>
  <div class="about-us">
    <h2>About Us</h2>
    <p style="font-family: Broadway;">We are a professional beauty salon offering a wide range of hair care services. From haircuts to bridal styling, our mission is to make you feel beautiful and confident.</p>
    <p style="font-family: Broadway;">Our team is dedicated to providing the best customer service and ensuring you leave our salon feeling like a new person.</p>
    <h3>Meet Our Team</h3>
    <p style="font-family: Broadway;">Our team consists of experienced and passionate professionals who are constantly updating their skills to provide you with the latest trends and techniques in hair styling.</p>
  </div>
